{% extends "_base.htm" %}
{% block title %}
	Course menu
{% endblock%}


{% block bodycontent %}


<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Student Menu - Add a Course</p> 
            </div>
        </div>
    </nav>
    
    <h2><center>Welcome, Cory!</center></h2><br>

    <div id="addCourseDiv" style="width:800px" class="container well">
        <b><p id="errorP" style="display: none"></p></b>
    	<form id="addCourseForm" method = "post" action = "/EnrollCourse">
    		<p>Please enter the course number here: 
    		<input id="courseNumberInput" name="courseNumberInput"></p>
            <p>(If you do not have a course number, please contact your instructor)</p>

    	<button id="addCourseButton">Add Course</button>
    	
    </div>
    <p><center>You are currently logged in. Would you like to <a href="/logout">log out?</a></center></p>
</body>

<script>

var main = {
    firstName: '{{firstName}}',

    init: function(){
        if({{errorNumber}} == 1){
            $('#errorP').text('This course does not exist. Please make sure the number is correct.')
            $('#errorP').show()
        }

        main.cacheDOM()
        main.bindEvents()

    },

    cacheDOM: function(){
        console.log('caching DOM')
        main.$div = $('#addCourseDiv')
        main.$courseNumberInput = main.$div.find('#courseNumberInput')
        main.$addCourseForm = main.$div.find('#addCourseForm')
        main.$addCourseButton = main.$div.find('#addCourseButton')
    },

    bindEvents: function(){
        console.log('binding events')
        main.$addCourseButton.unbind().on('click', main.checkCourseInput)
    },

    render: function(){

    },

    // other functions
    parseStringArray: function(arr){
        var a = arr.split(',')
        var b = new Array()
        for(var i = 0; i < a.length-1; i++){
            b.push(a[i])
        }

        return b
    },

    checkCourseInput: function(){
        // var n = String(main.$courseNameInput.val())
        
        // if(main.courseNames.includes(n)){
        //     // alert('Index: '+String(main.courseNames.indexOf(n)))
        //     var targetIndex = main.courseNames.indexOf(n)
        //     var ty = main.$termInput.val().split(' ')
            
        //     if(ty[0] == main.terms[targetIndex] & ty[1] == main.years[targetIndex]){
        //         alert('You already have a course called "'+n+ '" in that semester.')
        //         return
        //     }
        // }

        // if it gets here it's not a repeat
        main.$addCourseForm.submit()
    }
}


main.init()

</script>


{% endblock %}
