{% extends "_base.htm" %}
{% block title %}
	Course menu
{% endblock%}


{% block bodycontent %}


<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Instructor Menu - Select a Course</p> 
            </div>
        </div>
    </nav>
    
    <h2><center>Welcome, {{firstName}}!</center></h2><br>
    
    <div id="selectCourseDiv" style="width:800px" class="container well">
		
		<center>
			<p><span id="status_span">Please select an existing course.</span></p>
			<div class="row">
				<div class="col-xs-4"></div>
				<div class="col-xs-2">
					<form id="courseSelectForm" method = "get" action = "/CourseData">
						<select id="courseSelect" name = "courseSelect">
							<option selected value="base">Please Select</option>
						</select>
					</form>
				</div>
				<div class="col-xs-2">
					<button id = "submitButton1">Okay</button>
				</div>
				<div class="col-xs-4"></div>
			</div>
			<br>
			<p>Or <a href="/CreateCourse">add a new course</a></p>
		</center>

		

		

    </div>

    <p><center>You are currently logged in. Would you like to <a href="/logout">log out?</a></center></p>
</body>





<script>

// base htm is 28 lines

var main = {

	init: function(){
		main.courses = main.parseStringArray("{{courses}}").map(Number)
		main.firstName = "{{firstName}}"
		main.courseNames = main.parseStringArray("{{courseNames}}")
		
		// main.parsedCourseNumbers = main.parseStringArray(main.courses)
		main.cacheDOM()
		main.bindEvents()
		main.fillCourses()
		main.render()
	},
	
	cacheDOM: function(){
		main.$selectCourseDiv = $('#selectCourseDiv')
		main.$courseSelectForm = $('#courseSelectForm')
		main.$submitButton1 = $('#submitButton1')
		main.$noCourses = $('#noCourses')
	},

	parseStringArray: function(arr){
		var a = arr.split(',')
		var b = new Array()
		for(var i = 0; i < a.length-1; i++){
			b.push(a[i])
		}

		return b
	},

	bindEvents: function(){
		// main.$addCourseButton.unbind().on('click', function(){
			// main.$addCourseDiv.toggle()
		// })
		// $('#createCourseButton').unbind().on('click', main.submit)
		main.$submitButton1.unbind().on('click', main.submitFunction)
	},

	render: function(){
		if(main.courses.length == 0){
			// $('#addCourseDiv').show()
			// main.$noCourses.show()
		}else{
			
			// $('#selectCourseDiv').show()
		}	
	},
	fillCourses: function(){
		// right now this is just the names; eventually we need terms as well: Name -- term
		
		var $dropdown = $('#courseSelect');

		$dropdown.empty()
		$dropdown.append('<option>Please Select</option')	
		$.each(main.courseNames, function(index, value) {
			$dropdown.append("<option>" + String(value) + "</option>")
		});
	},

	submitFunction: function(){
		console.log('test')
		main.$courseSelectForm.submit()
		
		
	}
	
}

main.init()




</script>


{% endblock %}
				