{% extends "_base.htm" %}
{% block title %}
	Course menu
{% endblock%}


{% block bodycontent %}


<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Instructor Menu - Create a Course</p> 
            </div>
        </div>
    </nav>
    
    <h2><center>Welcome, Cory!</center></h2><br>

    <div id="addCourseDiv" style="width:800px" class="container well">
    	<p id="noCourses" style="display: none">It looks like you don't have any courses added yet. Let's add a course.</p>

    	<form id="createCourseForm" method = "post" action = "/CreateCourse">
    		<p>What would you like to call the course?
    		<input id="courseNameInput" name="courseNameInput"></p>

    		<p>When will the course take place?
    			<select id="termInput" name="termInput">
    				<option value="Spring 2018">Spring 2018</option>
    				<option value="Summer 2018">Summer 2018</option>
    				<option value="Fall 2018">Fall 2018</option>

    				<option value="Spring 2019">Spring 2019</option>
    				<option value="Summer 2019">Summer 2019</option>
    				<option value="Fall 2019">Fall 2019</option>

    				<option value="Spring 2020">Spring 2020</option>
    				<option value="Summer 2020">Summer 2020</option>
    				<option value="Fall 2020">Fall 2020</option>

    				<option value="Spring 2021">Spring 2021</option>
    				<option value="Summer 2021">Summer 2021</option>
    				<option value="Fall 2021">Fall 2021</option>
    			</select></p>


    		<p>Which modules would you like to make available in the course? Check all that apply.</p>
    		<ul style="list-style: none"> 
	    		<li><input id="WithinSubject_Check" name="WithinSubject_Check" type="checkbox">
	    		<label for="WithinSubject_Check">The Power of Within Subjects Designs</label></li>

	    		<li><input id="CarryoverEffects_Check" name="CarryoverEffects_Check" type="checkbox">
	    		<label for="CarryoverEffects_Check">Carryover Effects</label></li>

	    		<li><input id="PracticeFatigueEffects_Check" name="PracticeFatigueEffects_Check" type="checkbox">
	    		<label for="PracticeFatigueEffects_Check">Practice and Fatigue Effects</label></li>
	    	</ul>
    		<br>
    		<input id="WSC" name="WSC" type="hidden">
    		<input id="CEC" name="CEC" type="hidden">
    		<input id="PFEC" name="PFEC" type="hidden">
    	</form>
    	<button id="createCourseButton">Create Course</button>
    	
    </div>
    <p><center>You are currently logged in. Would you like to <a href="/logout">log out?</a></center></p>
</body>

<script>

var main = {
    firstName: '{{firstName}}',
    courseNameString: '{{courseNames}}',
    termString: '{{terms}}',
    yearString: '{{years}}',

    init: function(){
        main.courseNames = main.parseStringArray(main.courseNameString)
        main.terms = main.parseStringArray(main.termString)
        main.years = main.parseStringArray(main.yearString)

        main.cacheDOM()
        main.bindEvents()

    },

    cacheDOM: function(){
        console.log('caching DOM')
        main.$div = $('#addCourseDiv')
        main.$courseNameInput = main.$div.find('#courseNameInput')
        main.$termInput = main.$div.find('#termInput')
        main.$createCourseForm = main.$div.find('#createCourseForm')
        main.$createCourseButton = main.$div.find('#createCourseButton')
    },

    bindEvents: function(){
        console.log('binding events')
        main.$createCourseButton.unbind().on('click', main.checkCourseInput)
    },

    render: function(){

    },

    // other functions
    parseStringArray: function(arr){
        var a = arr.split(',')
        var b = new Array()
        for(var i = 0; i < a.length-1; i++){
            b.push(a[i])
        }

        return b
    },

    checkCourseInput: function(){
        var n = String(main.$courseNameInput.val())
        
        if(main.courseNames.includes(n)){
            // alert('Index: '+String(main.courseNames.indexOf(n)))
            var targetIndex = main.courseNames.indexOf(n)
            var ty = main.$termInput.val().split(' ')
            
            if(ty[0] == main.terms[targetIndex] & ty[1] == main.years[targetIndex]){
                alert('You already have a course called "'+n+ '" in that semester.')
                return
            }
        }

        // if it gets here it's not a repeat
        main.$createCourseForm.submit()
    }
}


main.init()

</script>


{% endblock %}
