{% extends "_base.htm" %}
{% block title %}
	Within-Subjects Designs
{% endblock%}


{% block bodycontent %}

<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Within-Subjects Designs</p> 
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
			</div>
        </div>
    </nav>

    <!-- Body -->
    <div class = "container well">
    	<h2>Within-Subjects Designs</h2>
    	<p>Congratulations, you have finished the tutorial!</p>
    	<p>Please click on the button below to save your progress and return to the main menu.</p>

    	<form method="get" action="/StudentCourseMenu">
			<!--  hidden inputs -->
			<input id="path" name="path" type="hidden" value="finish">
			<button class="btn btn-primary">Return to Menu</button>
		</form>

    </div>
</body>


{% endblock %}
