{% extends "_base.htm" %}
{% block title %}
	Login
{% endblock%}


{% block bodycontent %}


<body data-spy="scroll" data-target=".navbar" data-offset="120">

	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text">Research Methods Dojo</p>
			</div>
		</div>
	</nav>


	<!-- Login -->
	<section>

		<div class="container">
			<div class="col-md-12">
				<h2>Welcome, instructor!</h2>
				<p>Please log in, or create an account</p>
				<br>

				<!-- Tabs for login -->
				<ul class="nav nav-tabs">
					<li class="active"><a data-toggle="tab" href="#loginDiv">Login</a></li>
					<li><a data-toggle="tab" href="#createAccountDiv">Create account</a></li>
				</ul>

				<!-- Select login type -->
				<div class="container tab-content">

					<!-- Login -->
					<div id="loginDiv" class="tab-pane fade in active">
						<br>
						<p id="errorP" class="lead" style="display:none; color:red"></p>
						<form class="" id="loginForm" method="post" action="/InstructorLogin">
							<div class="row">
	           					<div class="form-group col-md-4">
	               					<label for="loginEmail">Email</label>
	               					<input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="Enter email">
	           					</div>
	        				</div>
	        				<div class="row">
	           					<div class="form-group col-md-4">
	               					<label for="loginPassword">Password</label>
	               					<input type="password" class="form-control" id="loginPassword" name = "loginPassword" placeholder="Enter password" required="true">
	           					</div>
	        				</div>
						</form>
						<br>
						<button class="btn btn-primary" type="submit" id="loginButton">Login</button>
						<br>
					</div>

					<!-- Create new account -->
					<div id="createAccountDiv" class="tab-pane fade">
						<br>
						<p>Welcome to the Research Methods Dojo! Training at the
							Dojo is simple:</p>
						<p><b>1. Create an Instructor Account.</b> This will let you log
							in to see your students' progress in the RM Dojo modules.</p>
						<p><b>2. Create a Course.</b> Once you have created an account,
							you will be taken to a menu page where you may add a course.
							Just choose a name for the course and select the term.</p>
						<p><b>3. Distribute the Course Code.</b> The data page for each
							course will display a unique identification number for
							the course. Your students will need this number to
							register for your course in the Research Methods Dojo.</p>
						<br>
						<p>First, let's create your instructor account:</p>
						<p id="errorP2" class="lead" style="display:none; color:red"></p>
						<form class="" id="createAccountForm" method = "post" action = "/InstructorSignup">
							<div class="row">
	            				<div class="form-group col-md-4">
	                				<label for="firstName">First name</label>
	                				<input class="form-control" id="firstName" name="firstName">
	            				</div>
	            				<div class="form-group col-md-4">
	                				<label for="lastName">Last name</label>
	               					<input class="form-control" id="lastName" name="lastName">
	            				</div>
	        				</div>
	        				<div class="row">
	            				<div class="form-group col-md-4">
	                				<label for="createEmail">Email</label>
	               					<input type="email" class="form-control" id="createEmail" name = "createEmail">
	            				</div>
	        				</div>
	        				<div class="row">
	            				<div class="form-group col-md-4">
	                				<label for="loginPassword">Password</label>
	                				<input type="password" class="form-control" id="password1" name = "password1">
	               				</div>
	            				<div class="form-group col-md-4">
	                				<label for="loginPassword">Repeat password</label>
	                				<input type="password" class="form-control" id="password2" name = "password2">
	               				</div>
	        				</div>
	        			</form>
	        			<br>
	        			<button class="btn btn-primary" id="createButton">Create account</button>
					</div>

					<br>
					<p>If you are a student, login <a href="/StudentLogin">here</a> instead.</p>

				</div>

			</div>
		</div>

	</section>

</body>

<script type="text/javascript">


var login = {
	init: function(){
		this.cacheDOM()
		this.bindEvents()

		if({{errorNumber}} == 1){
			login.$errorP.text('Your email was not found!')
			login.$errorP.show()
		}else if({{errorNumber}} == 2){
			login.$errorP.text('Incorrect email/password combination!')
			login.$errorP.show()
		}
	},

	cacheDOM: function(){
		login.$div = $('#loginDiv')
		login.$loginForm = login.$div.find('#loginForm')
		login.$loginEmail = login.$div.find('#loginEmail')
		login.$loginPassword = login.$div.find('#loginPassword')
		login.$loginButton = login.$div.find('#loginButton')

		// not really another place to put this
		login.$errorP = $('#errorP')
	},

	bindEvents: function(){
		login.$loginButton.unbind().on('click', login.loginSubmit)
	},

	loginSubmit: function(){
		if(login.$loginEmail.val() == ''){ // if first name blank
			alert('Please enter your email address.')
		}else if(login.$loginPassword.val() == ''){ // if last name blank
			alert('Please enter your password.')
		}else{
			// submit form
			// alert('submitting form')
			login.$loginForm.submit()
		}
	},

}

var create = {
	init: function(){
		create.cacheDOM()
		create.bindEvents()

		if({{errorNumber}} == 3){
			create.$errorP2.text('Email already exists! Please contact administrator if this is an error.')
			create.$errorP2.show()
		}
	},
	cacheDOM: function(){
		create.$formDiv = $('#createAccountDiv')
		create.$firstName = create.$formDiv.find('#firstName')
		create.$lastName = create.$formDiv.find('#lastName')
		create.$email = create.$formDiv.find('#email')
		create.$password1 = create.$formDiv.find('#password1')
		create.$password2 = create.$formDiv.find('#password2')
		create.$createButton = create.$formDiv.find('#createButton')

		create.$errorP2 = $('#errorP2')
	},

	bindEvents: function(){
		create.$createButton.unbind().on('click', create.checkPassword)
	},

	checkPassword: function(){
		if(create.$firstName.val() == ''){ // if first name blank
			alert('Please enter your first name to continue.')
		}else if(create.$lastName.val() == ''){ // if last name blank
			alert('Please enter your last name to continue.')
		}else if(create.$email.val() == ''){ // if email blank
			alert('Please enter your email to continue.')
		}else if(create.$password1.val() == ''){ // if passwords don't match blank
			alert('Please enter a password to continue.')
		}else if(create.$password1.val() != create.$password2.val()){ // if passwords don't match blank
			alert('Your passwords don\'t match!')
		}else{
			$('#createAccountForm').submit()
		}
	}
}

login.init()
create.init()

</script>


{% endblock %}
