{% extends "_base.htm" %}
{% block title %}
	Login
{% endblock%}


{% block bodycontent %}


<body data-spy="scroll" data-target=".navbar" data-offset="120">

	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<p class="navbar-text">Research Methods Dojo</p> 
			</div>
		</div>
	</nav>


	<!-- Login -->
	<section>
		<div class="container">
			<h1>Research Methods Dojo</h1>
			<p class="lead">Welcome! Please select a role.</p>
			
			<p><a class="btn btn-default" href="/StudentLogin">Student</a></p>
			<p><a class="btn btn-default" href="/InstructorLogin">Instructor</a></p>
			<p><a class="btn btn-default" id="guestButton">Guest</a></p>
			
			<!-- Select login type -->
			<!-- <div class="row">
				<div class="col-md-4">
					<label>Select a log-in option:</label>
					<select class="form-control col-md-3" onchange="loginOption($('#login').val());" id="login">
						<option selected="selected" disabled="true" value="0">Log-in options</option>
						<option value="g">Log in as guest (no progress is recorded)</option>
						<option value="s">Log in with existing account</option>
					</select>
				</div>
			</div>
			<br> -->

			<!-- Student login -->
			<!-- <form id="signin" method="post" action="/login" novalidate>
				<div class="row form-group col-md-3" id="studentLogin" style="display:none">
					<label for="username">7-digit student ID:</label>
					<input type="text" class="form-control" name="username" required><br>
					<input name="guest" id="guest" type="hidden" value="0">
					<input type="submit" class="btn btn-primary" value="Log in">
				</div>
			</form>
 -->
			<!-- Guest login -->
			<!-- <div id="guestLogin" style="display:none">
				<button class="btn btn-primary" onclick="guest()">Log in</button>
			</div> -->

		</div>

		<form class="" id="loginForm" method="post" action="/StudentLogin" style="display: none">
			<input id="loginEmail" name="loginEmail">
			<input type="password" class="form-control" id="loginPassword" name = "loginPassword" placeholder="Enter password" required="true">
		</form>
	</section>

</body>

<script type="text/javascript">

	$('#guestButton').unbind().on('click', function(){
		$('#loginEmail').val('student@rmdojo.com')
		$('#loginPassword').val('dojo')
		$('#loginForm').submit()
	})



	// function loginOption(type) {
	// 	if (type=="g") {
	// 		$('#guestLogin').show()
	// 		$('#studentLogin').hide()
	// 	}
	// 	else if (type=="s") {
	// 		$('#studentLogin').show()
	// 		$('#guestLogin').hide()
	// 	}
	// }

	// function guest() {
	// 	$('#guest').val(1);
	// 	$('#signin').submit();
	// }


</script>


{% endblock %}
