{% extends "_base.htm" %}
{% block title %}
	Login
{% endblock%}


{% block bodycontent %}


<div class="pg">
<h2><center>Welcome to the Research Methods Dojo!</center></h2>
<br>

<button id="loginButton" onclick="showLogin()">Log in</button>

<form id="signIn" method="post" action="/login" style = "display:none">
	<br>
	Email: <input type="text" name="email"/><br><br>
	Password: <input type="password" name="password"/><br><br>
	<input name="userType" id="userType" type = "hidden" value = "none">
	<button id = "studentLogin" onclick="studentLoginFunction()">Log in as student</button>
	<button id = "instructorLogin" onclick="instructorLoginFunction()">Log in as instructor</button>
	<br>
</form>

<br>
<br>
<button onclick="guest()">Continue as guest (no progress is recorded)</button>

<center><a href="/signup">create an account.</a></center>

</div>

<script>

// should check to make sure they actually entered something in each field, alert if they didn't

function showLogin(){
	$('#loginButton').attr('disabled', 'disabled')
	$('#signIn').show()
}

function studentLoginFunction(){
	$('#userType').val('student')
	$('#signIn').submit()
}
function instructorLoginFunction(){
	$('#userType').val('instructor')	
	$('#signIn').submit()
}

function guest(){
	$('#userType').val('guest')
	$('#signIn').submit()
}





</script>







{% endblock %}
