{% extends "_base.htm" %}
{% block title %}
Main menu
{% endblock%}


{% block bodycontent %}

<body data-spy="scroll" data-target=".navbar" data-offset="120">

<!-- Navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text">Research Methods Dojo -- {{courseName}}</p>
        </div>
    </div>
</nav>

<section>
    <div class="container well">
        <h2>Welcome, {{firstName}}!</h2>
        <p><span id="status_span">Please select a module to begin.</span></p>

        <!-- Modules -->
        <form id="Module2_Form" method="get" action="/WithinSubject">
            <button class="btn btn-default" id="Module2_Button">The power of within subject designs</button>
        </form>
        <br>
        <form id="Module1_Form" method="get" action="/CarryoverEffects">
            <button class="btn btn-default" id="Module1_Button" disabled="true">Carryover Effects</button>
        </form>
        <br>
        <form id="Module3_Form" method="get" action="/PracticeFatigueEffects">
            <button class="btn btn-default" id="Module3_Button" disabled="true">Practice and Fatigue Effects</button>
        </form>
        <br>
    </div>
    <p><center>You are currently logged in. Would you like to <a href="/logout">log out?</a></center></p>
</section>

</body>

<script>

var main = {

    init: function(){

        // eventually this will be sent in from the back end, because different courses will be able to have different modules.
        // But for now all courses have the same modules.

        main.moduleActions = ["/WithinSubject", "/CarryoverEffects", "/PracticeFatigueEffects"]
        main.moduleNames = ['The power of within subject designs', 'Carryover Effects', 'Practice and Fatigue Effects']
        main.courseNumber = {{courseNumber}}
        main.firstName = '{{firstName}}'


        main.cacheDOM()
        main.bindEvents()
        main.render()
    },

    cacheDOM: function(){
        main.$co = $('#containerDiv')
        main.$addCourseDiv = main.$co.find('#addCourseDiv')
        main.$menuDiv = main.$co.find('#menuDiv')
        main.$moduleSelect = main.$co.find('#moduleSelect')
        main.$moduleForm = main.$co.find("#moduleForm")
    },

    bindEvents: function(){
        // main.$moduleSelect.unbind().on('change', function(){
        //     for(var i = 0; i < main.moduleNames.length; i++){
        //         if(main.moduleNames[i] == main.$moduleSelect.val()){
        //             main.$moduleForm.attr('action', main.moduleActions[i])
        //         }
        //     }
        // })
    },

    render: function(){

        main.$menuDiv.show()

    }
}

main.init()



</script>


{% endblock %}
