{% extends "_base.htm" %}
{% block title %}
	Quiz
{% endblock%}


{% block bodycontent %}

<form id="dataform" method="post" action="/WithinSubject">
	<input id="AnswerInput" name="AnswerInput" type="hidden">
	<input id="progressinput" name="progressinput" type="hidden">
	<input id="Submit" onclick="MySubmit()" value="Submit" type="hidden">
</form>

<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Within-Subjects Designs</p> 
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/StudentCourseMenu"><i class="fa fa-home" aria-hidden="true"></i> Return to menu</a></li>
					<li><a href="/logout"><i class="fa fa-times" aria-hidden="true"></i> Logout</a></li>
				</ul>
			</div>
        </div>
    </nav>

    <!-- Content -->
    <div class="container well" style="width:950px">
    	<h2>Quiz</h2>
    	<h4>Please answer if the following statements are TRUE or FALSE</h4><br>
    	
    	<!-- Q1 -->
    	<p>You are conducting a study to test a new IQ-boosting drug. To use a within-subjects design, each participant should receive the IQ drug at one time and a placebo at another time.</p>	

    	<div class="row">
    		<div class="form-group col-md-3">
                <select id="Q1" onchange="answered();" class="form-control form-control-sm">
                	<option selected="selected" disabled="true" value="-1">Select TRUE or FALSE</option>
					<option value="1">TRUE</option>
					<option value="0">FALSE</option>
				</select>
            </div>
        </div>

        <p id="answer1" style="opacity:0; padding-left:20px"><b>Correct Answer: TRUE.</b><br>Between-subjects designs assign one level of the IV to each participant, whereas within-subjects designs require every participant to receive every level of the IV. In this case, because each participant received both the drug and the placebo, it is a within-subjects design.</p><br>

        <!-- Q2 -->
        <p>After collecting your data, you notice that the IQ drug mean and the placebo mean are very similar. There might still be a significant effect, because you used a within-subjects design.</p>

        <div class="row">
    		<div class="form-group col-md-3">
                <select id="Q2" onchange="answered();" class="form-control form-control-sm">
                	<option selected="selected" disabled="true" value="-1">Select TRUE or FALSE</option>
					<option value="1">TRUE</option>
					<option value="0">FALSE</option>
				</select>
            </div>
        </div>

        <p id="answer2" style="opacity:0; padding-left:20px"><b>Correct Answer: TRUE.</b><br>Within-subjects designs examine the magnitude and consistency of difference scores for each individual subject. As we saw earlier, it's possible to have fairly small differences in group means, but still have significant p values, if there is very high consistency in the difference scores.</p><br>

        <!-- Q3 -->
        <p>You also notice that there are pretty large individual differences in the IQ scores of your participants. You should be worried that your result will be affected.</p>

        <div class="row">
    		<div class="form-group col-md-3">
                <select id="Q3" onchange="answered();" class="form-control form-control-sm">
                	<option selected="selected" disabled="true" value="-1">Select TRUE or FALSE</option>
					<option value="1">TRUE</option>
					<option value="0">FALSE</option>
				</select>
            </div>
        </div>

        <p id="answer3" style="opacity:0; padding-left:20px"><b>Correct Answer: FALSE.</b><br>You should be cool as a cucumber, because within-subjects designs are insensitive to individual differences!</p><br>

        <!-- Button -->
        <button class="btn btn-info" id="nextButton" disabled="true"><span>Check answers</span></button>

    </div>

</body>

<script>

var progress = {{progress}};
var Outcomes = new Array();




function answered() {
	responses = new Array();
	responses.push(Number(Q1.value));
	responses.push(Number(Q2.value));
	responses.push(Number(Q3.value));

	if (Math.min.apply(Math, responses)>(-1)) {
		$('#nextButton').attr('disabled', false)
			.unbind().on('click', showAnswers);
			
	}
}

function showAnswers(){
	$('#answer1').fadeTo('fast', 1);
	$('#answer2').fadeTo('fast', 1);
	$('#answer3').fadeTo('fast', 1);

	$('#Q1').attr('disabled', true);
	$('#Q2').attr('disabled', true);
	$('#Q3').attr('disabled', true);

	$('#nextButton').unbind().on('click', MySubmit)
		.attr('class', 'btn btn-primary').find('span').html('Finish');
}

function MySubmit(){

	console.log('Submitting!');
	progress +=1;
	$('#progressinput').val(String(progress));
	$('#AnswerInput').val(String(responses));
	$('#dataform').submit();
	

}



</script>

{% endblock %}